<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div>
      <h2><%= @article.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面に戻る", articles_path %>
